@font-face {
    font-family: 'Deutsch Gothic';
    src: url('assets/fonts/deutsch-gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #c73032;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 32px 0;
    font-size: 96px;
    font-family: 'Deutsch Gothic';
    color: #c73032;
}

h2 {
    width: 100%;
    margin: 0 0 12px 0;
    border: 4px solid #c73032;
    padding-top: 30px;
    text-align: center;
    font-size: 192px;
    font-family: 'Deutsch Gothic';
}

.wrapper-btn {
    width: 100%;
    display: flex;
    gap: 12px;
}

button {
    touch-action: manipulation;
    width: 100%;
    border: 4px solid #c73032;
    padding: 8px 0;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Menlo', 'Lucida Console', 'Monaco', 'Consolas', monospace;
    background-color: black;
    color: #c73032;
}

@media (max-width: 500px) {
    h1 {
        margin: 0 0 24px 0;
        font-size: 80px;
    }
   
    h2 {
        margin: 0 0 9px 0;
        border: 3px solid #c73032;
        padding-top: 25px;
        font-size: 160px;
    }

    .wrapper-btn {
        gap: 9px;
    }

    button {
        border: 3px solid #c73032;
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    h1 {
        margin: 0 0 16px 0;
        font-size: 64px;
    }
   
    h2 {
        margin: 0 0 6px 0;
        border: 2px solid #c73032;
        padding-top: 20px;
        font-size: 128px;
    }

    .wrapper-btn {
        gap: 6px;
    }

    button {
        border: 2px solid #c73032;
        font-size: 16px;
    }
}